<div class="row">
    <div data-ng-if="vm.DEFAULT_SCR===vm.state" class="home-col col-md-8">
        <h1>Hi I'm Deva</h1>
        <ul>
<ul>
            <li>I'm your development assistant! I can help you create test data, re-execute previous test data and other requests related to test data creation.</li>
            <li>To create a test data from scratch, you may say <i>"Create 1 active test account with product, 0 balance, credit transaction, 0 transaction amount, transaction date, yesterday."</i></li>
            <li>To retrieve previous requests, you may just say <i>"previous"</i>.</li>
            <li>To re-execute previous requests by ID, you may say <i>"create test data fom template ID 89</i></li>
        </ul>
        </ul>
    </div>

    <div data-ng-if="vm.FORM_SCR===vm.state" ng-include="'app/home/form-create.html'" class="home-col col-md-8">

    </div>

    <div data-ng-if="vm.DISPLAY_DATA_SCR===vm.state" ng-include="'app/home/display-data.html'" class="home-col col-md-8">

    </div>

    <div class="home-col col-md-4">
        <div class="dialog-flow-container embed-responsive embed-responsive-1by1">
            <iframe class="dialog-flow-frame embed-responsive-item" src="https://console.dialogflow.com/api-client/demo/embedded/cc506963-0d53-4d47-b6f1-77abac0dd622">
            </iframe>
        </div>
    </div>
</div>