<div class="row">
    <div data-ng-if="vm.DEFAULT_SCR===vm.state" class="home-col col-md-8">
        <h1>Hi I'm Deva</h1>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor placeat odio quia ipsa animi quis nihil cupiditate
                nemo, eveniet perspiciatis consectetur inventore ex omnis! Iste voluptas maxime asperiores tempora beatae?</li>
            <li>Porro, ducimus inventore cupiditate quod hic aliquam? Dolore doloremque sint hic incidunt pariatur placeat tempora
                maxime? Commodi modi illo dignissimos officia optio odit sequi, placeat suscipit quasi aperiam mollitia esse.</li>
            <li>Vel, culpa hic delectus omnis, veniam itaque possimus voluptates amet, soluta nam dicta quia maiores cum? Facere
                eos amet laboriosam voluptate, atque nam, reprehenderit aliquid aperiam dicta corporis officiis. Dolores?</li>
            <li>Magni deleniti consequuntur quis est laudantium, aspernatur nesciunt perferendis debitis odit, libero ab labore?
                Aut tenetur provident, itaque excepturi fugit voluptates officiis a impedit maxime mollitia exercitationem
                reprehenderit repudiandae animi!</li>
        </ul>
    </div>

    <div data-ng-if="vm.FORM_SCR===vm.state" ng-include="'app/home/template-list.html'" class="home-col col-md-2">

    </div>

    <div data-ng-if="vm.FORM_SCR===vm.state" ng-include="'app/home/form-create.html'" class="home-col col-md-6">

    </div>

    <div data-ng-if="vm.DISPLAY_DATA_SCR===vm.state" ng-include="'app/home/display-data.html'" class="home-col col-md-8">

    </div>

    <div class="home-col col-md-4">
        <div class="dialog-flow-container embed-responsive embed-responsive-1by1">
            <iframe class="dialog-flow-frame embed-responsive-item" src="https://console.dialogflow.com/api-client/demo/embedded/cc506963-0d53-4d47-b6f1-77abac0dd622">
            </iframe>
        </div>
    </div>
</div>